@import (reference) "../../../bower_components/bootstrap/less/bootstrap.less";
@import "_form.less";
@import "_theme.less";

.view-animation.ng-enter,
.view-animation.ng-leave,
.view-animation.ng-move {
  position: relative;
}

.view-animation.ng-enter {
  -webkit-animation:  0.5s fadeIn;
  -moz-animation:  0.5s fadeIn;
  -o-animation:  0.5s fadeIn;
  animation: 0.5s fadeIn;

  opacity: 0;
}

.view-animation.ng-leave {
  -webkit-animation:  0.5s fadeOut;
  -moz-animation:  0.5s fadeOut;
  -o-animation:  0.5s fadeOut;
  animation: 0.5s fadeOut;
}

.view-animation.ng-enter-stagger,
.view-animation.ng-leave-stagger,
.view-animation.ng-move-stagger {
  /* notice how we're using animation instead of transition here */
  -webkit-animation-delay:0.2s;
  animation-delay:0.2s;

  /* yes we still need to do this too */
  -webkit-animation-duration:0;
  animation-duration:0;
}

div.spinner-modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000 !important;
  background-color: #efefef;
  opacity: 0.5;

  > div {
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 8em; width: 8em;

    > span {
      font-size: 8em;
    }
  }
}

#splash {
  opacity: 1;
  background-color: #ffffff;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

[sa-authorize] {
  display: none;
}