
<div class="row">
    <div class="col-md-6">
        <form name="filterForm" class="form-inline" role="form" no-validate>
            <div class="input-group">
                <label for="filterText" class="sr-only">User name</label>
                <input type="text" id="filterText" class="form-control" ng-model="search.query" placeholder="Search">

                <span class="input-group-btn">
                    <button class="btn btn-default btn-sm" ng-click="search()"><span class="fa fa-search"></span></button>
                </span>
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <div class="input-group-btn">
            <button ng-click="add()" class="btn btn-primary">+ New</button>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">

        <table class="table table-bordered table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="item in pagedItems.items">
                    <td><a ui-sref="app.admin.lookups.list.edit({ id: item.id })" ng-bind="item.name"></a></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
