<button ng-click="add()">+ New</button>

<div class="row">
    <div class="col-sm-12">

        <table class="table table-bordered table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="item in pagedItems.items">
                    <td><a ui-sref="app.admin.lookups.list.edit({ id: item.id })" ng-bind="item.name"></a></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
