<h2><span class="fa fa-user"></span> Edit user</h2>

<div class="row" ng-hide="model.isActive">
    <alert type="warning"><span class="fa fa-ban"></span> <b>Disabled</b> - This user is currently disabled and unable to sign in. <a href="" ng-click="enable(model)">Enable</a> the user.</alert>
</div>

<div class="row">
    <div class="col-md-9">
        <div class="well">
            <form class="form-horizontal" name="editUserForm" ng-submit="save(model)">
                <fieldset>
                    <legend>
                        {{ model.fullName }}
                    </legend>

                    <div class="form-group">
                        <label for="fullName" class="col-sm-2 control-label">Name</label>

                        <div class="col-md-5">
                            <input type="text" class="form-control" id="fullName" ng-model="model.fullName" ng-required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="username" class="col-md-2 control-label">Username</label>

                        <div class="col-md-5">
                            <input type="text" class="form-control" id="username" disabled ng-model="model.username">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="emailAddress" class="col-md-2 control-label">Email</label>

                        <div class="col-md-5">
                            <input type="text" class="form-control" id="emailAddress" ng-model="model.emailAddress">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="notes" class="col-md-2 control-label">Notes</label>

                        <div class="col-md-10">
                            <textarea class="form-control" rows="3" id="notes">Not bound</textarea>
                            <span class="help-block">Any administrative notes relating to the user. These are not visible to the user.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">I want to...</div>

            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Reset the user's password</h4>

                    <p class="list-group-item-text">
                        An email will be sent to the user with instructions on resetting
                        their password.
                    </p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Change the user's username.</h4>

                    <p class="list-group-item-text">
                        Modify the username that the user enters to login to the system.
                    </p>
                </a>

                <a href="" ng-click="enable(model)" ng-hide="model.isActive" class="list-group-item">
                    <h4 class="list-group-item-heading">Enable the user's account</h4>

                    <p class="list-group-item-text">
                        Enable the user to sign in into the system. The user will not be notified
                        that their account has been enabled.
                    </p>
                </a>

                <a href="" ng-click="disable(model)" ng-show="model.isActive" class="list-group-item">
                    <h4 class="list-group-item-heading">Disable the user's account</h4>

                    <p class="list-group-item-text">
                        Prevent the user from signing in into the system.
                        The user will not be notified that their account has been disabled.
                    </p>
                </a>
            </div>
        </div>
    </div>

</div>