<div class="row">
    <div class="col-md-6">
        <form name="filterForm" class="form-inline" role="form" no-validate>
            <div class="input-group">
                <label for="filterText" class="sr-only">Search</label>
                <input type="text" id="filterText" class="form-control" ng-model="listCtrl.filter" placeholder="Search">

                <span class="input-group-btn">
                    <button class="btn btn-default btn-sm" ng-click="listCtrl.search()"><span class="fa fa-search"></span></button>
                </span>
            </div>

        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th><a href="" ng-click="listCtrl.orderBy('userName')">User name</a</th>
                    <th><a href="" ng-click="listCtrl.orderBy('fullName')">Name</a></th>
                    <th><a href="" ng-click="listCtrl.orderBy('emailAddress')">Email address</a></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="user in listCtrl.pagedItems.items">
                    <td><a ui-sref=".edit({ userId: user.id })" ng-bind="user.userName"></a></td>
                    <td ng-bind="user.fullName"></td>
                    <td ng-bind="user.email"></td>
                </tr>
            </tbody>
        </table>

        <pagination boundary-links="true"
                    rotate="true"
                    ng-model="listCtrl.pagedItems.pageNumber"
                    ng-change="listCtrl.pageChanged()"
                    total-items="listCtrl.pagedItems.itemCount"
                    items-per-page="listCtrl.pagedItems.pageSize"
                    max-size="5">
        </pagination>
    </div>
</div>